@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');
a {
  text-decoration: none;
}
body {
  background-color: #f0f2f5;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
@media (max-width: 1500px) and (min-width: 700px) {
  .nfb {
    color: #1877f2;
    font-size: 50px;
    font-weight: 800;
    margin-top: 260px;
  }
  .connect {
    font-weight: 600;
  }
  .logintext-container {
    display: flex;
  }
  .login-textcontainer-content {
    margin-left: 230px;
  }
  .form-container {
    background-color: white;
    border-radius: 5px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 200px;
    height: 370px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    width: 420px;
  }
  .userdetails {
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 10px;
  }
  .userpassword {
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 10px;
  }
  .loginbutton {
    width: 380px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #1877f2;
    color: #ffffff;
    border: none;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-style: bold;
  }
  .forgetpassword {
    color: #1877f2;
    font-weight: 560;
    margin-left: 140px;
    font-size: 14px;
    margin-top: 30px;
  }
  .fpw {
    margin-top: 15px;
  }
  .loginhr {
    opacity: 0.5;
    width: 370px;
    margin-top: 20px;
  }
  .create {
    width: 200px;
    height: 50px;
    margin-top: 18px;
    margin-left: 100px;
    background-color: #42b72a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }
  .final-login-container {
    display: flex;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 870px;
  }
  .final-login-one {
    margin-left: 5px;
    font-style: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
  }
}
@media (max-width: 700px) and (min-width: 300px) {
  .nfb {
    color: #1877f2;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 20px;
  }
  .connect {
    margin-left: 50px;
    font-weight: 500;
  }
  .form-container {
    background-color: white;
    border-radius: 5px;
    border-radius: 10px;
    margin-top: 60px;
    height: 370px;
    margin-left: 40px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    width: 420px;
  }
  .userdetails {
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 10px;
  }
  .userpassword {
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 10px;
  }
  .loginbutton {
    width: 380px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #1877f2;
    color: #ffffff;
    border: none;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-style: bold;
  }
  .forgetpassword {
    color: #1877f2;
    font-weight: 560;
    margin-left: 140px;
    font-size: 14px;
    margin-top: 30px;
  }
  .fpw {
    margin-top: 15px;
  }
  .loginhr {
    opacity: 0.5;
    width: 370px;
    margin-top: 20px;
  }
  .create {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 100px;
    background-color: #42b72a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }
  .final-login-container {
    display: flex;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
  }
  .final-login-one {
    margin-left: 5px;
    font-style: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
  }
}
.valid {
  color: red;
  font-size: 12px;
  margin-left: 30px;
}

/* Register CSS starts */
@media (max-width: 1500px) and (min-width: 700px) {
  .register-container-content {
    display: flex;
    margin-left: 230px;
  }
  .form-container-register {
    background-color: white;
    width: 420px;
    height: 440px;
    margin-top: 150px;
    margin-left: 200px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    border-radius: 10px;
  }
  .email {
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 10px;
  }
}
@media (max-width: 700px) and (min-width: 300px) {
  .form-container-register {
    background-color: white;
    width: 420px;
    height: 440px;
    margin-left: 40px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    border-radius: 10px;
  }
  .email {
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 10px;
  }
}

.logo {
  height: 60px;
  margin-left: 10px;
}
.house {
  height: 60px;
  margin-left: 10px;
}
.topbarContanier {
  /* position: sticky; */
  height: 60px;
  background-color: white;
  width:1440px;
  -webkit-box-shadow: 0 5px 6px -6px #777;
  /* box-shadow: 10px 10px 90px #bebebe, -10px -10px 90px #ffffff; */
}
.topbarcontent {
  display: flex;
}
.fa-magnifying-glass {
  color: grey;
  margin-left: 10px;
}
.topbar-container1 {
  background-color: rgb(243, 241, 241);
  height: 40px;
  width: 250px;
  margin-top: 10px;
  border-radius: 40px;
}
.search {
  border: none;
  outline: none;
  height: 35px;
  margin-left: 10px;
  margin-top: 3px;
  background-color: rgb(243, 241, 241);
  font-size: 15px;
}
.fa-house {
  /* color:rgb(142, 138, 138); */
  color: rgb(117, 198, 185);
  margin-left: 48px;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  /* font-weight:500; */
}
.fa-user-group {
  /* color:rgb(142, 138, 138); */
  /* color:rgb(64, 136, 122); */
  color: rgb(117, 198, 185);
  margin-left: 40px;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}
.fa-store {
  /* color:rgb(142, 138, 138); */
  /* color:rgb(83, 179, 83); */
  color: rgb(117, 198, 185);
  margin-left: 40px;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  /* color:rgb(160, 160, 160); */
}
.fa-people-group {
  /* color:rgb(142, 138, 138); */
  /* color:rgb(83, 179, 83) */
  color: rgb(117, 198, 185);
  margin-left: 40px;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  /* color:rgb(160, 160, 160); */
}
.fa-gamepad {
  /* color:rgb(105, 187, 158); */
  /* color:rgb(142, 138, 138); */
  color: rgb(117, 198, 185);
  margin-left: 40px;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}
.container {
  position: relative;
  margin-left: 100px;
  display: inline-block;
}
.container:hover .home {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 60px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}
.container2 {
  margin-left: 60px;
  position: relative;
}
.container2:hover .home {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 60px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}
.container3 {
  margin-left: 60px;
  position: relative;
}
.home {
  font-size: 13px;
  /* text-align:center; */
  visibility: hidden;
  position: absolute;
  top: 100%;
  transform: translateX(-60%);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}
.container3:hover .home {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 100px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}
.container4 {
  margin-left: 60px;
  position: relative;
}
.container4:hover .home {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 60px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 9px;
}
.container5 {
  margin-left: 60px;
  position: relative;
}
.home {
  visibility: hidden;
  position: absolute;
  top: 100%;
  transform: translateX(-60%);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}
.container5:hover .home {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 60px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}
.container6 {
  position: relative;
  background-color: rgb(220, 220, 220);
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border-radius: 50%;
  margin-left: 210px;
}
.container6:hover .home {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 60px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}
.fa-bars {
  margin-left: 13px;
  margin-top: 11px;
}
.container7 {
  position: relative;
  background-color: rgb(220, 220, 220);
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border-radius: 50%;
  margin-left: 10px;
  cursor:pointer;
}
.container7:hover .home {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 80px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}
.fa-facebook-messenger {
  margin-left: 13px;
  margin-top: 11px;
  cursor:pointer;
  color:black;
}
.container8 {
  position: relative;
  background-color: rgb(220, 220, 220);
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.container8:hover .home {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 80px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}
.fa-bell {
  margin-left: 13px;
  margin-top: 11px;
}
.container9 {
  position: relative;
  margin-top: 5px;
  margin-left: 19px;
  position: relative;
}
.user {
  height: 50px;
  width: 50px;
}
.container9:hover .home {
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 80px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}

/* timeline css starts */
.timeline-container {
  display: flex;
}
.timeline {
  /* margin-left:30px; */
  max-width: 360px;
}
.timeline2 {
  margin-left: 40px;
  /* max-width: 400px; */
}
.timeline3 {
  margin-left: 20px;
}
.disappear{
  /* color:white; */
}
.sidebar-container-content {
  /* background-color: rgb(236, 236, 236); */
  /* width: 1440px; */
  width:340px;
  height: 1400px;
}
.middlebar-container-content {
  background-color: white;
  height: 300px;
  margin-top: 30px;
  width: 670px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 6px -6px #777;
}
.middlebar {
  margin-left: 30px;
  padding-top: 10px;
  display: flex;
}
.middlebar1 {
  margin-left: 30px;
  padding-top: 10px;
  display: flex;
}
.middlebar2 {
  margin-left: 50px;
  padding-top: 10px;
  display: flex;
}
.middlebar-container {
  display: flex;
}
.middlebar h3 {
  font-size: 15px;
  margin-left: 10px;
  color: gray;
}
.middlebar1 h3 {
  font-size: 15px;
  margin-left: 10px;
  color: gray;
}
.middlebar2 h3 {
  font-size: 15px;
  color: gray;
  margin-left: 10px;
}
.middlehr {
  opacity: 0.2;
}
.fa-shield-halved {
  margin-top: 15px;
  margin-left: 40px;
  color: gray;
}
.fa-film {
  margin-top: 15px;
  margin-left: 100px;
  color: gray;
}
.fa-video {
  margin-top: 15px;
  margin-left: 100px;
  color: gray;
}
.statusimage {
  height: 40px;
  margin-left: 80px;
  margin-top: 10px;
  width: 40px;
  color: green;
  font-size: 30px;
}
.smiley {
  height: 40px;
  margin-left: 80px;
  margin-top: 10px;
  width: 40px;
  color: orange;
  font-size: 30px;
}
.Storybox {
  background-color: whitesmoke;
  height: 190px;
  margin-top: 20px;
  width: 150px;
  margin-left: 30px;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 6px -6px #777;
}
.addstories {
  /* margin-top:10px; */

  margin-left: 50px;
  position: absolute;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0 5px 6px -6px #777;
  font-size: 15px;
}
.vaag {
}

.poststatus-container-content {
  background-color: white;
  width: 670px;
  height: 150px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 6px -6px #777;
  margin-top: 10px;
  /* height:1400px; */
}
.poststatusphoto {
  height: 50px;
  width: 50px;
}
.poststatus-container {
  display: flex;
  margin-left: 15px;
  padding-top: 20px;
}

.statusinput {
  width: 400px;
  border: none;
  outline: none;
  height: 30px;
  padding-left: 15px;
  background-color: #f3eeee;
  font-size: 17px;
  margin-top: 5px;
  margin-left: 10px;
}
.poststatus1 {
  width: 580px;
  height: 40px;
  background-color: #f3eeee;
  margin-left: 10px;
  border-radius: 40px;
}
.postvideo-container {
  display: flex;
}
.statushr {
  width: 620px;
  opacity: 0.3;
}
.postvideo {
  display: flex;
}
.livevidos {
  margin-top: 17px;
  margin-left: 10px;
  color: gray;
}
.livevideo {
  height: 40px;
  margin-left: 80px;
  margin-top: 10px;
  width: 40px;
  color: red;
  font-size: 30px;
}
.postvideo1 {
  display: flex;
}
.postvideo2 {
  display: flex;
}

/* Sidebar css starts */
.sideprofile {
  height: 35px;
  width: 35px;
  margin-left:25px;
  margin-top:40px;
}
.sidebar {
  display: flex;
  width: 370px;
}
.sidebar1 {
  display: flex;
  width: 370px;
}
.sidebar2 {
  display: flex;
  width: 370px;
}
.sidebar3 {
  display: flex;
  width: 370px;
}
.sidebar4 {
  display: flex;
  width: 370px;
}
.sidebar5 {
  display: flex;
  width: 370px;
}
.profilename{
  margin-left:15px;
  margin-top:50px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:300;
  font-size:15px;
  cursor:pointer;
}
.findfriends{
  height: 40px;
  width: 50px;
  margin-left:15px;
}
.friendsvetau{
  margin-top:9px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  cursor:pointer;
  color:rgb(104, 101, 101);
  margin-left:10px;
}
.feeds{
    height: 30px;
    width: 30px;
    margin-left:28px;
}
.feedsvetau{
  margin-top: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  cursor:pointer;
  margin-left:5px;
  color:rgb(104, 101, 101);
  margin-left:17px;
}
.sidegroups{
  height: 40px;
  width: 50px;
  margin-left:13px;
}
.groupvetau{
  margin-top:13px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  cursor:pointer;
  color:rgb(104, 101, 101);
  margin-left:10px;
}
.sidebargroup{
  color:rgb(125, 125, 226);
  margin-left:30px;
}
.marketplace{
  height: 40px;
  width: 50px;
  margin-left:10px;
}
.market{
  margin-top:13px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  cursor:pointer;
  color:rgb(104, 101, 101);
  margin-left:14px;
}
.sidebarshr{
  margin-left:30px;
  width:300px;
  opacity: 0.3;
}
.housesdemo{
  position:relative;
  height:70px;
  width:150px;
}
.home{
  visibility: hidden;
  position: absolute;
  top: 100%;
  transform: translateX(-60%);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}
.housesdemo:hover .home{
  visibility: visible;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.8);
  height: 25px;
  width: 60px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}



.newsfeed-container-content{
  margin-top:10px;
  height:850px;
  background-color:white; 
  -webkit-box-shadow: 0 5px 6px -6px #777; 
  border-radius:10px;
  width: 670px;
}
.newsfeed-container{
  display: flex;
}
.photoqu{
  height:40px;
  width:40px;
  border-radius: 50%;
  margin-top:20px;
  margin-left:20px;
}
.mq{
  margin-left:20px;
  /* font-weight:400; */
 font-family: 'Roboto', sans-serif;;

  /* padding-top:30px; */
}
.date{
  font-size:13px;
  margin-left:20px;
}
.newsfeed1{
  margin-top:20px;
}
.par{
  font-size:10px;
  margin-top:10px;
}
.newsfeed{
  display: flex;
}
.newsfeed3{
  margin-left:420px;
  margin-top:20px;
}
.fa-ellipsis{
  color:#8b8a8a;
}
.newsfeed4{
  font-size:20px;
  margin-top:17px;
  font-weight:200;
  margin-left:20px;
}
.fa-xmark{
  color:#8b8a8a;
}
.fa-xmark:hover{
  color: grey;
  border-radius: 40px;
}
.middlesquad{
  margin-left:350px;
  margin-top:80px;
}
.sidebarsquad{
  position: fixed;
  margin-top:50px;
}
.toploadsquad{
  position: fixed;
} 
.care{
  margin-top:20px;
  height:670px;
  width:670px;
}
.fa-earth{
  margin-left:10px;
  color: #979595;
}
.date{
  color: #979595;
}
.sponser{
  margin-left:1200px;
  background-color: red;
}
.reactp{
  height:30px;
  margin-top:8px;
  margin-left:20px;
}
.react-container-content{
  display:flex;
}
.react-container2{
  margin-top:13px;
  color:grey;
}
.react-container3{
  margin-top:13px;
  color:grey;
  margin-left:330px;
}
.react-container4{
  margin-top:13px;
  color:grey;
  margin-left:10px;
}
.likeshr{
  width:620px;
  opacity:0.3;
}
.likebtn{
  height:25px;
}
.cmtbtn{
  height:25px;
}
.shabtn{
  height:25px;
}
.likecomsh-container-content{
  display:flex;
}
.likecomsh-container{
  margin-left:60px;
}
.likecomsh-container1{
  color:grey;
  margin-top:3px;
  margin-left:10px;
}
.likecomsh-container2{
  margin-left:150px;
}
.likecomsh-container3{
  color:grey;
  margin-top:3px;
  margin-left:10px;
}
.likecomsh-container4{
  margin-left:150px;
}
.likecomsh-container5{
  color:grey;
  margin-top:3px;
  margin-left:10px;
}
.sponser{
  margin-top:100px;
  margin-right:100px;
}
.demosponsered{
  margin-top:100px;
  margin-left:30px;
  color:gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.rightsponser{
  height:250px;
  margin-left:30px;
}
.contactshr{
  opacity: 0.3;
  width:300px;
  margin-left:30px;
}
.contacts-container-content{
  display:flex;
}
.rightcontactss{
  color:gray;
  margin-top:10px;
  margin-left:30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.camcroder{
  height:20px;
  margin-top:13px;
  margin-left:100px;

}
.investigate{
  height:20px;
  margin-top:13px;
  margin-left:20px;
}
.loader{
  height:20px;
  margin-top:13px;
  margin-left:20px;
}
.contlist{
  height:350px;
  margin-left:30px;
}
.rightsquad{
  position: fixed;
} 
.reels-container-content{
  margin-top:20px;
  height:600px;
  background-color:white;
  -webkit-box-shadow: 0 5px 6px -6px #777;
  border-radius:10px;
}
.reelss{
  height:30px;
  margin-top:20px;
  margin-left:30px;
}
.reels-contentss{
  display: flex;
}
.reels-container1{
  margin-left:10px;
  margin-top:5px;
}
.reels-container2{
  margin-top:5px;
  margin-left:250px;
  cursor:pointer;
}
.reels-container2 h3{
 color:rgb(0, 128, 255);
 font-weight:500;

}
.load{
  height:20px;
  margin-top:25px;
  margin-left:20px;
}
.reels-container4{
  margin-left:30px;
  margin-top:20px;
}
.tiktok{
  border-radius:10px;
}
.tiktok1{
  border-radius:10px;
  margin-left:5px;
}
.chatboxlist{
  background-color:white;
  height:500px;
  width:400px;
  width:360px;
  z-index: 1;
}
